/* .carousel-control-prev-icon {
  background-image: url("./arrow2.svg");
  width: 100px;
  height: 100px;
  transform: rotate(180deg);
}
.carousel-control-next-icon {
  background-image: url("./arrow2.svg");
  width: 100px;
  height: 100px;
} */
.slide {
  padding-left: 3%;
  padding-right: 20%;
}
.card {
  height: 100%;
  background-color: #172a3b;
  color: white;
  text-align: center;
  min-height: 800px;
}
.carousel-item {
  transition-duration: 0.1s;
  height: 700px;
}
.figure-caption {
  color: white;
}
.MyCarousel {
  position: fixed;
  min-width: 700px;
}
