.Face {
  text-align: center;
  transition: transform 1s;
}
.ImageGrid .Face img:hover {
  box-shadow: 0 0 30px rgba(81, 203, 238, 1);
  margin: 5px 1px 3px 0px;
  border: 1px solid rgb(9, 10, 82);
  /* transform: translateY(-10px) scale(1.1); */
  animation: MoveUpDown 1s linear infinite;
}
@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-10px) scale(1.2);
  }
}

.Face .figure-caption {
  color: #172a3b;
}

.ImageGrid {
  border-image-source: url("./pioneerdots.png");
  border-image-repeat: round;
  border-image-slice: 8 8 8 8;
  border-right: 2px solid;
  border-image-width: 0px 4px 0px 0px;
}
/* https://www.dafont.com/karmatic-arcade.font */
@font-face {
  font-family: Arcade;
  src: url("./ka1.ttf");
}
.FaceWithBio .Face {
  border-image-source: url("./pioneerdots.png");
  border-image-repeat: round;
  border-image-slice: 8 8 8 8;
  border-bottom: 1px solid;
  border-image-width: 0px 0px 4px 0px;
  margin-bottom: 10px;
}
.card-title {
  font-family: Arcade;
  font-size: 40px;
}
.FaceWithBio .Face img {
  width: 256px;
}

.ImageGrid {
  text-align: center;
  font-family: "Arcade";
}
.ImageGrid {
  font-size: 20px;
}
